

.stock-output {
  padding: 0;
  margin: 0;

  height: 300px;
  border: 1px solid #ccc;
}


body {
  padding: 1rem;
}


.tab-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #bbb;

  .tab-btn {
    padding: 5px;
    cursor: pointer;

    &.active {
      background-color: cadetblue;
    }
  }
}


.tab-pane {
  display: none;

  &.open {
    display: block;
  }
}


.main-menu {
  border: 1px solid #bbb;
  display: flex;
  flex-direction: row;
  background-color: #f9f9f9;

  a {
    padding: 5px;

    &:hover {
      background-color: #ddd;
      text-decoration: none;
    }
  }
}